<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanzania.comtech.msafiriapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/msafiri_app_logo_two"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Auth.Activity_Login"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".Bus.Activity_list_bus" />
        <activity android:name=".seat_plan.MainActivity">

        </activity>
        <activity
            android:name=".Payment.SeatInformation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Helpers.Drawable"
            android:label="@string/title_activity_drawable"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Auth.Register_Page" />
        <activity android:name=".Auth.VerificationPage" />

        <receiver android:name=".Helpers.SmsReader">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ChooseTransportType"
            android:label="@string/title_activity_choose_transport_type"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Helpers.PopActivity"
            android:theme="@style/popWindowMyThem" />
        <activity android:name=".Payment.PaymentNormal" />
        <activity android:name=".PaymentToken" />
        <activity android:name=".Payment.PaymentVisa" />
        <activity
            android:name=".Helpers.ThanksActivity"
            android:theme="@style/popWindowMyThem" />
        <activity android:name=".Auth.StartApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>